*{
	padding: 0px;
	margin: 0px;
}
body{
	background-color: wheat;
	background-position: center;
	background-size: cover;
	box-sizing: border-box;
	font-family: sans-serif;
	overflow: visible;
}


header {
  background-color: rgb(0, 0, 100);
  padding: 10px;
  color: #fff;
}

nav ul {
  list-style-type: none;
  text-align: center;
	font-size: 25px;
}

nav ul li {
  display: inline-block;
  margin: 0 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}

nav ul li a:hover{
  transform: scale(1.25);
  color: red;
	font-size: 23px;
}

.sub-menu{
  display: none;
}

nav ul li:hover .sub-menu{
  display: block;
  position: absolute;
  background-color: rgb(0, 0, 100);
}

nav ul li:hover .sub-menu ul li{
  display: block;
  font-size: 1rem;
  transform: scale(0.9);
  width: 95px;
  margin: 15px;
  text-align: left;
  border-bottom: 1px dotted #fff;
}

nav ul li:hover .sub-menu ul li:last-child{
  border-bottom: none;
}

.navbar-toggle {
  display: none;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 2px;
  background-color: #fff;
  margin: 5px 0;
}

@media (max-width: 768px) {
  .navbar-toggle {
    display: block;
  }
  
  .navbar-menu {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgb(0, 0, 100);
    padding: 10px;
    margin-top: 10px;
  }
  
  .navbar-menu li {
    margin-right: 0;
    margin-bottom: 10px;
  }
  
  .navbar-menu li a {
    display: block;
  }
	
}

.row {
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	margin-bottom: 20px;
}

.column {
	flex: 1;
	margin: 10px;
	max-width: 350px;
}

.column img {
	width: 100%;
	height: auto;
}

.property-description {
	margin-top: 10px;
	font-size: 1rem;
}

form {
	margin-top: 10px;
}

form input[type="text"] {
	width: 100%;
	padding: 5px;
	margin-bottom: 10px;
}

form input[type="submit"] {
	width: 100%;
	padding: 5px;
}


.contact{
	width: 400px;
	margin: auto;
	font-size: 25px;
}
.contact ul{
	padding: 15px;
	text-align: left;
	list-style: none;
}
.contact ul li {
	padding: 10px;
}
.contact-list a{
	color: grey;
}
.contact li .fa{
	font-size: 40px;
	color: blue;
}
.contact ul li a:hover{
	color: blue;
	padding-left: 8px;
}
.about{
	padding: 40px;
	margin: auto;
	font-size: 20px;
}
.about ul{
	padding: 20px;
}
.about ul li{
	text-align: justify;
	font-family: cursive;
}
.sub-menu-bar{
	display: none;
	background-color: lightseagreen;
	border-radius: 3px;
}
.menu-bar ul li:hover .sub-menu-bar{
	display: block;
	position: absolute;
	margin-top: 15px;
	margin-left: -15px;
	color: white;
}
.menu-bar ul li:hover .sub-menu-bar ul{
	display: block;
	margin: 10px;
}
.sub-menu-bar ul li a:hover{
	color: blue;
	padding-left: 8px;
}
.footer{
	width: 100%;
	position: absolute;
	background-color: rgb(0, 0, 100);
	font-size: 13px;
	color: #ff0000;
	font-family: cursive;
	text-align: center;
}

.social-media a{
	height: 40px;
	width: 48px;
	display: inline-block;
	background-color: transparent;
	text-align: center;
	line-height: 40px;
	color: white;
	transition: all 0.3s;
	margin: 10px 10px 10px 10px;
	border-radius: 50%;
	font-size: 35px;
}
.social-media a i:hover{
	color: wheat;
	transform: scale(1.25);
	background-color: red;
	border-radius: 50%;
}



